.canvas {
	margin: auto;
	margin-right: 0px;
	margin-left: 15vw;

	border: 1.2vw solid rgb(180, 180, 180);
	border-radius: 0.6vw;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin-top: calc(50vh + 7vw);
	margin-left: 1.5vw;

	.button {
		cursor:pointer;
		padding: 0.6vw;
		border-width: 0.2vw;
		border-style: solid;
		background-color: rgb(240, 240, 240);
		border-color: rgb(180, 180, 180);
		border-radius: 0.4vw;
		font-size: 1vw;
		font-weight: 600;
		margin-top: 1.5vw;
		user-select: none;
	}

	button:active {
		background-color: rgb(220, 220, 220);
	}
}
