body {
	height: 100vh;
	display: flex;
	overflow-y: hidden;
	background-color: rgb(40, 40, 40);;
}

.canvasBg {
	margin: auto;

	.canvas {
		background-color: white;
		margin: auto;
		border: 1.2vw solid rgb(180, 180, 180);
		border-radius: 0.6vw;
	}

	.button {
		cursor: pointer;
		background-color: rgb(240, 240, 240);
		padding: 0.6vw;
		user-select: none;
		color: rgb(40, 40, 40);
		width: fit-content;
		
		margin-left: 27vw;
		margin-top: 3vw;
	
		border-width: 0.2vw;
		border-style: solid;
		border-color: rgb(180, 180, 180);
		border-radius: 0.4vw;
	
		font-family: Helvetica;
		font-size: 1.4vw;
		font-weight: bold;
	}
	.button:active {
		background-color: rgb(220, 220, 220);
	}
}

.background {
	display: flex;
	flex-direction: column;
	
	background-color: rgb(240, 240, 240);	
	border: .6vw solid rgb(180, 180, 180);
	border-radius: 1.4vw;
	padding: 1vw;

	height: fit-content;
	width: 14vw;
	margin: auto;
	user-select: none;

	.rank {	
		font-size: 2vw;
		font-family: Helvetica;
		font-weight: bold;
		padding: 0.2vw;
		padding-left: 0.5vw;
		padding-right: 0.5vw;
		color: rgb(40, 40, 40);
	}
}